*.pem
.DS_Store
.bash_history
.bash_history_shared
.config/*
.config/configstore
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.moon/cache
.pnpm-debug.log*
.snowpack/
.super
.turbo
Cargo.lock
debug.log
known_hosts
node_modules
npm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn-debug.log*
yarn-error.log*
yarn.lock
~*.docx
~*.tmp

!.config/Completion
